<h2>相册列表</h2>

<table width="100%">
<% @albums.each do |album| %>
  <tr>
    <td><%=h album.name %></td>
    <tr>
      <td><%=link_to image_tag(album.photos[0].data.url(:thumb)), album ,:class=>"thumb"  if album.photos[0] %> </td>
    <td><%= link_to '显示', album %>
<!--这是代码注释
    <td><%= link_to '编辑', edit_album_path(album) %></td>
-->
    <br>
    <%= link_to '删除', album, :confirm => '确认删除?', :method => :delete %></td>
    <td><%=h album.description %></td>
  </tr>
  <tr>
    <td colspan="3"><hr></td>
  
<% end %>
</table>

<br />

<%= link_to '新建相册', new_album_path %>