<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>

<p>
  <b>Context:</b>
  <%=h @post.context %>
</p>

<p>
  <b>Dtpost:</b>
  <%=h @post.dtpost %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>