<h2>显示位置</h2>

<table>

  <% @locations.each do |location| %>
    <tr>
      <td><%=link_to (image_tag "mapicon.png"), location%></td>
      <td width="380px"><%=h location.memo %></td>
      <td>
      <%if @user_id == current_user.id%>
            <%= link_to '编辑', edit_location_path(location) %><br>
            <%= link_to '删除', location, :confirm => '确认要删除吗?', :method => :delete %></td>
      <%end%>
    </tr>
    <tr>
      <td colspan="3"><hr></td>
    <% end %>
</table>

<br />
<%if @user_id == current_user.id%>
  <%= link_to '加入新位置', new_location_path %>
<%end%>
<script type="text/javascript"> function initialize() {}</script>