<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Albums: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'lightbox' %>


  </head>
  <link rel="stylesheet" href="http://www.zhiwenku.com/stylesheets/base.css" type="text/css" media="screen" charset="utf-8" />
  <%= javascript_include_tag :defaults %>
  <body>

    <p style="color: green"><%= flash[:notice] %></p>
    <div id="container" class="newlook">
      <div id="header">
        <h1><a href="http://www.zhiwenku.com/"><img src="http://www.zhiwenku.com/images/logo.png" alt="指纹库" /><span>首页</span></a></h1>
      </div>

      <table id="columns">
        <tr>
          <td id="main">
            <%= yield %>

          </td>
      </table>

    </div>
  </body>
</html>
